services:
  db:
    image: postgres:15
    container_name: postgres_container
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: finanzas
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker/postgres/init:/docker-entrypoint-initdb.d

  python-loader:
    build: ./carga-datos
    image: edc-python-loader
    container_name: edc-python-loader
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: finanzas
      DB_USER: root
      DB_PASSWORD: 1234
    depends_on:
      - db

  spring-api:
    build:
      context: ./api
    container_name: edc-api
    depends_on:
      - db
      - python-loader
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/finanzas
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 1234
    ports:
      - "8081:8080"
    restart: always

volumes:
  postgres_data:
